@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
}

h1 {
    @apply text-center font-semibold text-4xl xs:text-5xl sm:text-6xl md:text-7xl m-auto px-4 mb-4 sm:px-4;
}

h2 {
    @apply text-center font-semibold text-2xl xs:text-3xl sm:text-4xl md:text-5xl m-auto px-4 mb-4 sm:px-4;
}

h3 {
    @apply text-center font-normal text-xl xs:text-2xl sm:text-3xl md:text-4xl px-4 mb-4 sm:px-4;
}

p {
    @apply text-center font-normal m-auto;
}

.container-fluid {
    @apply p-6 mt-6 mb-10 xs:py-6 xs:px-12 sm:py-10 md:py-10 lg:py-10 sm:px-10 md:px-28 lg:px-40 mx-auto;
}

@media(max-width: 640px) {
    .contact-container {
        margin: 0 20px 40px;
    }
}

.my-swal{
    z-index: 1000 !important;
}

.signin_container {
    max-width: 800px;
    padding: 0 30px;
    margin: auto;
}

.form-group {
    margin-bottom: 30px;
}